<div class="banner-leaderboard banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/deqc25xt2/image/upload/v1654623611/Climbly/forest-mountain-flat-design-vector-banner-template-forest-mountain-flat-design-vector-banner-template-good-web-banner-ads-226266311_buo7wk.jpg);">
  <div class="container d-flex flex-column">
    <div class="container-text">
      <h1>leaderboard</h1>
    </div>
    <div class="container-places-leaderboard">

    <div>
      <%= cl_image_tag("https://res.cloudinary.com/deqc25xt2/image/upload/v1654601592/Climbly/clown_mtlhzz.jpg", class:'image-1st') %>
      <%= cl_image_tag("https://res.cloudinary.com/deqc25xt2/image/upload/v1654604149/Climbly/grey-image_eliwy5.jpg", class:'first') %>
    </div>

    <div>
      <%= cl_image_tag("https://res.cloudinary.com/deqc25xt2/image/upload/v1654601535/Climbly/jeanphilipe_ou2feb.png", class:'image-2nd') %>
      <%= cl_image_tag("https://res.cloudinary.com/deqc25xt2/image/upload/v1654604149/Climbly/grey-image_eliwy5.jpg", class:'second') %>
    </div>

    <div>
      <%= cl_image_tag("https://res.cloudinary.com/deqc25xt2/image/upload/v1654601523/Climbly/moi_rlsavw.jpg", class:'image-3rd') %>
      <%= cl_image_tag("https://res.cloudinary.com/deqc25xt2/image/upload/v1654604149/Climbly/grey-image_eliwy5.jpg", class:'third') %>
    </div>

    </div>
  </div>
</div>

<div class="container">
  <% @scores.each do |score| %>
    <div class="score-container">
      <p>Email: <%= current_user.email %></p>
      <p>Start Date: <%= score.startDay %></p>
      <p>End Date: <%= score.endDay %></p>
      <p>Duration: <%= score.duration %></p>
    </div>
  <% end %>
</div>
