<div class="banner-leaderboard banner pages-margin-top" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/deqc25xt2/image/upload/v1654623611/Climbly/forest-mountain-flat-design-vector-banner-template-forest-mountain-flat-design-vector-banner-template-good-web-banner-ads-226266311_buo7wk.jpg);">
  <div class="container d-flex flex-column">
    <div class="container-text">
      <h1>Leaderboard</h1>
    </div>
    <div class="container-places-leaderboard">
      <% if @scores.empty? == false %>
        <div>
          <% if @scores[0].user.photo.attached? %>
            <%= cl_image_tag @scores[0].user.photo.key, class:'image-1st' %>
          <% else %>
            <%= image_tag("https://res.cloudinary.com/deqc25xt2/image/upload/v1653735226/development/wfpxgqqv8uyjgmxkrcwhvyejjacx.jpg", class:'image-1st') %>
          <% end %>
          <%= image_tag("https://res.cloudinary.com/deqc25xt2/image/upload/v1654864908/Climbly/1st-place-gold-medal-vector-23821321_fihbyq.jpg", class:'first') %>
        </div>
        <div>
          <% if @scores.count > 1 && @scores[1].user.photo.attached?%>
            <%= cl_image_tag @scores[1].user.photo.key, class:'image-2nd' %>
          <% else %>
            <%= image_tag("https://res.cloudinary.com/deqc25xt2/image/upload/v1653735226/development/wfpxgqqv8uyjgmxkrcwhvyejjacx.jpg", class:'image-2nd') %>
          <% end %>
          <%= image_tag("https://res.cloudinary.com/deqc25xt2/image/upload/v1654864884/Climbly/champion-silver-medal-with-red-ribbon-vector-30899176_zumh04.webp", class:'second') %>
        </div>
        <div>
          <% if @scores.count > 2 && @scores[2].user.photo.attached? %>
            <%= cl_image_tag @scores[2].user.photo.key, class:'image-3rd' %>
          <% else %>
            <%= image_tag("https://res.cloudinary.com/deqc25xt2/image/upload/v1653735226/development/wfpxgqqv8uyjgmxkrcwhvyejjacx.jpg", class:'image-3rd') %>
          <% end %>
            <%= image_tag("https://res.cloudinary.com/deqc25xt2/image/upload/v1654864879/Climbly/3rd-place-bronze-medal-vector-23821323_gir3bk.jpg", class:'third') %>
        </div>
      <% else %>
        <div class="d-flex justify-content-center align-items-center" style="color: white;">
          <h2>No scores yet be the first!!</h2>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="container container-list pages-padding-bottom all-cards-container">
  <div class="d-flex justify-content-center">
    <%= link_to "Leave a review", new_hike_review_path, class:"btn btn-primary btn-login" %>
  </div>
  <% @scores.each_with_index do |score, index| %>
    <div class="score-container d-flex justify-content-around ">
      <div class="">
        <% if score.user.photo.attached? %>
          <%= cl_image_tag score.user.photo.key, class: "avatar avatar-nav" %>
        <% else %>
          <div class="navbar-toggler-profile-basic">
            <i class="far fa-user-circle"></i>
          </div>
        <% end %>
      </div>
      <div class="d-flex flex-column text-score-container">
        <p>Name: <%= score.user.firstName %> <%= score.user.lastName %></p>
        <p>Duration: <%= format_duration(score.duration) %></p>
      </div>
    </div>
  <% end %>
</div>
