<div class="banner-leaderboard banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/deqc25xt2/image/upload/v1654623611/Climbly/forest-mountain-flat-design-vector-banner-template-forest-mountain-flat-design-vector-banner-template-good-web-banner-ads-226266311_buo7wk.jpg);">
  <div class="container d-flex flex-column">
    <div class="container-text">
      <h1>leaderboard</h1>
    </div>
    <div class="container-places-leaderboard">

    <div>
      <%= cl_image_tag("https://res.cloudinary.com/deqc25xt2/image/upload/v1654176951/development/fjls9ctpafu3wl6a5vhbnwc85cmw.jpg", class:'image-1st') %>
      <%= cl_image_tag("https://res.cloudinary.com/deqc25xt2/image/upload/v1654864908/Climbly/1st-place-gold-medal-vector-23821321_fihbyq.jpg", class:'first') %>
    </div>

    <div>
      <%= cl_image_tag("https://res.cloudinary.com/deqc25xt2/image/upload/v1653735133/development/hv4ym0r7w70hkw7fitwbx44ecg5a.jpg", class:'image-2nd') %>
      <%= cl_image_tag("https://res.cloudinary.com/deqc25xt2/image/upload/v1654864884/Climbly/champion-silver-medal-with-red-ribbon-vector-30899176_zumh04.webp", class:'second') %>
    </div>

    <div>
      <%= cl_image_tag("https://res.cloudinary.com/deqc25xt2/image/upload/v1653718232/development/moi_erkul5.jpg", class:'image-3rd') %>
      <%= cl_image_tag("https://res.cloudinary.com/deqc25xt2/image/upload/v1654864879/Climbly/3rd-place-bronze-medal-vector-23821323_gir3bk.jpg", class:'third') %>
    </div>

    </div>
  </div>
</div>

<div class="container">
  <% @scores.each do |score| %>
    <div class="score-container">
      <p>Name <%= score.user.firstName %> <%= score.user.lastName %></p>
      <p>Start Date: <%= score.startDay %></p>
      <p>End Date: <%= score.endDay %></p>
      <p>Duration: <%= score.duration %></p>
    </div>
  <% end %>
</div>
