<div class="pages-margin-top">
  <div style="width: 100vw; height: 600px;"
    data-controller="trail"
    data-trail-markers-value="<%= @marker.to_json %>"
    data-trail-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
    data-trail-route-value="<%= @route %>"></div>

    <div data-controller="timer">
      <div class=" container btn-container">

        <%= simple_form_for [@hike, @score], html:{ class: "d-flex justify-content-center"} do |f| %>
          <div class="d-none">
            <%= f.input :startDay, input_html: { data: { timer_target: 'input' } } %>
          </div>
          <div class="btn btn-primary btn-start"
            data-timer-target="start"
            data-action="click->timer#start"
            data-action="click->timer#revealend"
            >START</div>
          <div class="d-none btn-start"  data-timer-target="end">
            <%= f.submit 'END', class: " btn btn-primary btn-test", data: {  action: "click->timer#stop" } %>
          </div>
        <% end %>
        <div class="mainstopwatch">
          <div class="maintTime">
              <span data-timer-target="mainminute">00</span>
              <span data-timer-target="mainsecond">00</span>
              <span data-timer-target="milliseconds">00</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
