

<div class="card-category container container-background-whiter position " >

  <div class="container-card-show-content">

    <div class="banner d-flex justify-content-center banner-container"  style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path hike.photo.key || "" %>'); border-radius: 8px; height: 150px;">
      <%= link_to hike_scores_path(hike) do %>
         <i class="fa-solid fa-trophy trophy-icon"></i>
      <% end %>
    </div>
    <div class="d-flex justify-content-between align-items-center">
      <h3>Description:</h3> <%= link_to "Reviews", hike_reviews_path(hike), class: "btn btn-light" %>
    </div>

      <i class="fas fa-quote-left"></i><p> <%= hike.description %> </p> <i class="fas fa-quote-right d-flex justify-content-end"></i>
    <h3 >Difficulty:
    <% if average %>
      <% average.times do %>
        <i class=" fa-solid fa-star"></i>
      <% end %>
    <% end %>
    </h3>
    <div style="width: 100%; height: 350px;"
      data-controller="mapbox"
      data-mapbox-markers-value="<%= markers.to_json %>"
      data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>

    <% if hike.approved %>
      <div class="d-flex align-items-center">
        <%= link_to "Select", destination_path(hike), class: "btn btn-primary btn-select", data: { turbolinks: false} %>
      </div>
    <% else %>
      <div class="d-flex align-items-center">
       <%= link_to "Approved ?", edit_hike_path(hike), class: "btn btn-warning btn-select", data: { turbolinks: false} %>
      </div>
    <% end %>
  </div>
</div>
