<div id="homepage-list">
    <% @hikes.each_with_index do |hike, index| %>

      <div data-controller="hike-show" data-bs-toggle="modal" data-bs-target="#staticBackdrop<%=index%>"  data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="grid-item">
          <div class="card-hike" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/deqc25xt2/image/upload/v1654624837/Climbly/hiking-le-morne-brabant-mauritius-2_z86glk.jpg)" data-action="click->hike-show#displayShow">
            <%=hike.name%>
          </div>
        </div>

        <div class="d-none" data-hike-show-target="cardShow">
          <!-- Modal -->
          <div class="modal fade grid-item" id="staticBackdrop<%=index%>" data-bs-backdrop="static" data-action="click->hike-show#close" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog ">
              <div class="modal-content ">
                <div class="modal-header">
                  <h5 class="modal-title" id="staticBackdropLabel">
                    <%=hike.name%>
                  </h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" data-action="click->hike-show#closebtn" aria-label="Close">
                  </button>
                </div>
                <div class="modal-body container">
                    <%= render "shared/card_show_details", hike: hike%>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
