

<div class="card-category container container-background-whiter" >

  <div class="container-card-show-content">

    <div class="banner d-flex justify-content-center"  style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/deqc25xt2/image/upload/v1654624837/Climbly/hiking-le-morne-brabant-mauritius-2_z86glk.jpg); border-radius: 8px; height: 150px;">
    </div>

    <h3>Description:</h3>
    <div class="">
      <i class="fas fa-quote-left"></i><p> <%= hike.description %> </p> <i class="fas fa-quote-right d-flex justify-content-end"></i>
    </div>
    <h3 >Difficulty:</h3>


      <%# <%= render "shared/map", markers: @markers %>
      <div style="width: 100%; height: 350px;"
        data-controller="mapbox"
        data-mapbox-markers-value="<%= markers.to_json %>"
        data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>


    <div class="d-flex align-items-center">
      <%= link_to "Select", destination_path(hike), class: "btn btn-primary" %>
    </div>

    <br><br><br><br><br><br><br><br><br><br>
  </div>
</div>
