<div class="navbar navbar-expand-sm navbar-light navbar-lewagon sticky-top">
  <div class="container-fluid" data-controller="search-bar">
      <%# <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" %>
    <%= link_to 'Climbly', root_path, class: "navbar-brand", data:{search_bar_target: "climbly"} %>

    <div class="search-icon-container">
      <div>
        <div class="d-none" data-search-bar-target="bar">
          <div data-controller="search-hikes">
            <%= simple_form_for :search, url: root_path, method: :get, html: { data: { search_hikes_target: 'form' } }, :remote => true do |f| %>
              <div class="search-form-control form-group">
                <%= f.text_field :query,
                                  class: "form-control form-group",
                                  placeholder: 'Type a place to hike',
                                  value: params[:query],
                                  data: {
                                      search_hikes_target: 'input',
                                      action: 'keyup->search-hikes#update'
                                    }
                                    %>

                <button name="button" type="submit" class="btn btn-flat">
                  <i class="fas fa-search"></i>
                </button>
              </div>
            <% end %>
          </div>
        </div>

        <div class="d-flex justify-content-center">
          <div class="" data-search-bar-target="content">
            <%= link_to root_path do %>
              <i class="fa-solid fa-magnifying-glass" data-action="click->search-bar#revealBar"></i>
            <% end %>
          </div>
        </div>
      </div>

      <button class="navbar-toggler navbar-toggler-profile" type="button" data-search-bar-target="profile" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="far fa-user-circle"></i>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active d-flex justify-content-center">
            <%= link_to "Home", root_path, class: "nav-link" %>
          </li>
          <li class="nav-item d-flex justify-content-center">
            <%= link_to "Personal Records", "#", class: "nav-link" %>
          </li>
          <%# commented section %>
          <% if false %>
            <li class="nav-item">
              <%= link_to "Action", "#", class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Another action", "#", class: "nav-link" %>
            </li>
          <% end %>


          <li class="nav-item d-flex justify-content-center">
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link" %>
          </li>

        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
