<div class="container pages-margin-top pages-margin-bottom card-input-container">
  <h2 class="p-2">Suggested Hike</h2>
  <div class="card-new-hike">
    <h2> How would you describe your suggested hike? </h2>
    <%= simple_form_for [@hike] do |f| %>
      <div class="container input-field">
        <%= f.input :name, placeholder: 'Add a name' %>
        <%= f.input :description, placeholder: 'Add a description' %>
        <%= f.input :latitude, placeholder: 'Add a latitude' %>
        <%= f.input :longitude, placeholder: 'Add a longitude' %>
        <%= f.input :address, placeholder: 'Add an address'%>
        <%= f.input :photo, as: :file %>
      </div>
      <div class="d-flex justify-content-between">
        <%= f.submit 'Post', class: "btn btn-default btn-success btn-post" %>
        <%= link_to 'Skip', hikes_path, class:"btn btn-default btn-primary btn-skip"%>
      </div>
    <% end %>
  </div>
</div>
