<div class="container pages-margin-top card-input-container">
  <div class="d-flex justify-content-center">
    <h2>Log in</h2>
  </div>

  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-inputs input-field">
      <%= f.input :email,
                  required: false,
                  autofocus: true,
                  input_html: { autocomplete: "email" } %>
      <%= f.input :password,
                  required: false,
                  input_html: { autocomplete: "current-password" } %>
      <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
    </div>

    <div class="form-actions container d-flex justify-content-between flex-column">
      <div class="input-field">
        <%= f.button :submit, "Log in", class: 'btn btn-success btn-login ' %>
      </div>
      <div>
        <%= render "devise/shared/links" %>
      </div>
    </div>
  <% end %>
</div>
