<div class="container pages-margin-top input-card">
  <div class="card-input-container">
    <h2><%= @review.hike.name %></h2>
    <%= simple_form_for [@hike, @review] do |f| %>

      <div class="input-field">
        <%= f.input :rating, class: 'input-field'%>
      </div>

      <div class="input-field">
        <%= f.input :difficulty, class: 'input-field' %>
      </div>

      <div class="input-field content-field">
        <%= f.input :content, class: 'input-field' %>
      </div>

      <div class="input-field">
        <%= f.input :photos, as: :file, class: 'input-field'%>
      </div>

      <div class="d-flex justify-content-center input-field">
        <%= f.submit 'Save Changes', class: "btn btn-success" %>
      </div>
    <% end %>
  </div>
</div>
