<div class="banner pages-margin-top" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/deqc25xt2/image/upload/v1654623611/Climbly/forest-mountain-flat-design-vector-banner-template-forest-mountain-flat-design-vector-banner-template-good-web-banner-ads-226266311_buo7wk.jpg);">
  <div class="container">
    <h1>Reviews</h1>
    <p>All Reviews of <%= @hike.name %> mountain.</p>
  </div>
</div>

<div class="container pages-padding-bottom all-cards-container">
  <%# show text and add review btn %>
  <div class="review-list-text d-flex justify-content-between align-items-center">
    <h1><%= @hike.name %></h1>
    <%= link_to 'Add Review', new_hike_review_path, class:"btn btn-primary btn-post"%>
  </div>

  <%# creates each card %>
  <% if @reviews.empty? %>
    <div class="d-flex justify-content-center align-items-end no-reviews-container">
      <h1>No reviews Yet</h1>
    </div>
  <% else %>
    <% @reviews.each do |review| %>
      <div class="card container d-flex">
        <%# add edit btn to each card %>
        <%# <% raise %>
        <% if current_user.admin? || review.user == current_user %>
          <%= link_to edit_review_path(review) do %>
            <i class="edit-btn fa-solid fa-pen-to-square"></i>
          <% end %>
        <% end %>
        <%# body of each card %>
        <div class="">
          <div class="d-flex justify-content-around">
            <%# adding image to each card %>
            <div>
              <% if review.user.photo.attached? %>
                <%= cl_image_tag review.user.photo.key, class: "avatar avatar-nav" %>
              <% else %>
                <div class="navbar-toggler-profile-basic">
                  <i class="far fa-user-circle"></i>
                </div>
              <% end %>
            </div>
            <%# adding stard to the review and difficulty %>
            <div class="d-flex flex-column container-rat-diff">
              <div class="card-rating-difficulty d-flex align-items-center justify-content-end">
                <h5 class="basic-reset">Rating: </h5>
                <% review.rating.times do %>
                  <i class="fa-solid fa-star"></i>
                <% end %>
              </div>
              <div class="card-rating-difficulty d-flex align-items-center justify-content-end">
                <div>
                  <h5 class="basic-reset">Difficulty: </h5>
                </div>
                <% review.difficulty.times do %>
                  <i class=" fa-solid fa-star"></i>
                <% end %>
              </div>
            </div>
          </div>
          <%# adding review content %>
          <div style="margin-bottom: 8px;">
            <p class="card-text">
              <%= review.content%>
            </p>
          </div>
          <div class="d-flex justify-content-end">
            <%= link_to 'Show content', hike_review_path(@hike, review), class:"btn btn-primary btn-post"%>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
