<div class="card">
    <% @review.photos.each do |photo| %>
      <%= cl_image_tag(photo.key || "" ) %>
    <% end %>
  <div class="card-body">
    <h2><%= @review.hike.name %></h2>
    <p><%= @review.rating %></p>
    <p><%= @review.difficulty %></p>
    <p><%= @review.content %></p>
    <%= link_to 'Back', hike_reviews_path, class: "btn btn-primary" %>
  </div>
</div>
